

.titre{
    text-align: center;
    font-size: 3rem;
    padding-top: 3rem;
}    
.bg {
    background-image: url("../../../public/Image/bg.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 600px;
  }

.sousTitre{
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 5rem;
}


@media screen and (max-width : 747px){
    .bg{
        background-size: 600px 400px;
        height: 400px;
    }
}

@media screen and (max-width : 445px){
    .bg{
        background-size: 500px 300px;
        height: 300px;
    }
}

@media screen and (max-width : 400px){
    .titre ,.sousTitre{
        font-size: 10vw;
    }
}