

.titre{
    text-align: center;
    font-size: 3rem;
    padding-top: 3rem;
}    
.bg {
    background-image: url("../../../public/Image/bg.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }

.sousTitre{
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 5rem;
}

@media screen and (max-width : 400px){
    .titre ,.sousTitre{
        font-size: 10vw;
    }
}
@media screen and (max-width : 747px){
    .bg{
        background-size: 600px 600px;
    }
}