
.input{
    border: solid rgb(219, 219, 219) 1px;
    height: 2.2rem;
    color : black;
    padding-left: 0.8rem;
    width: 6rem;
}
.input:hover{
    border-color: rgb(99, 172, 255); 
    transition-duration: 0.5s;
}
.input:focus{
    border-color: rgb(99, 172, 255);
    outline: none;
}

.container{
    align-items: center;
}

.base{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 8.5rem;
    color:white;
    
}

.div{
    width: 26rem;
    height: 25rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    border-radius: 15%;
    background-color:  rgb(99, 172, 255);
    
}

.div:hover{
    box-shadow: 0.5rem 0.5rem 2rem 1rem rgb(98, 131, 240);
    transition-duration: 0.8s;
}

@media screen and (max-width: 762px) {
    .div{
        width: 80%;
        margin-bottom: 3rem;
        height: 35rem;
       
    }
    .base{
        font-size: 13rem;
    }
    .input{
        padding-left: 0rem;
    }
  }

  @media screen and (max-width: 600px) {
      .base{font-size: 20vw;}
      .div{height: fit-content;}
  }

  @media screen and (max-width: 440px) {
    .modalText{font-size: 3vw;}
}