.input{
    border: solid rgb(219, 219, 219) 1px;
    height: 2.2rem;
    color : black;
    padding-left: 0.8rem;
    width: 6rem;
}
.input:hover{
    border-color: rgb(99, 172, 255); 
    transition-duration: 0.5s;
}
.input:focus{
    border-color: rgb(99, 172, 255);
    outline: none;
}
.space{
    margin-left: 25%;
}

@media screen and (max-width: 762px) {
    .input{
        padding-left: 0rem;
    }
    .space{
        margin-left: 12.5%;
    }
}

@media screen and (max-width: 440px) {
    .modalText{font-size: 3vw;}
}